.about {
  background-color: $light-color;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
  &__info {
    color: $gray-color;
  }
}
@media screen and (max-width: 992px) {
  .about {
    &__container {
      flex-direction: column;
      gap: 20px;
    }
  }
}
