.department {
  background-color: $light-gray;

  &__iconRow {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
