.department {
  background-color: $light-gray;

  &__iconRow {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
@media (max-width: 445px) {
  .department {
    &__iconRow {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .card-icon {
      // flex-direction: column;
      &__img {
        text-align: center;
      }
    }
  }
}
