.header {
  width: 100%;
  &__info {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
  // contacts
  .contacts {
    background-color: $light-gray;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      color: $gray-color;
    }
    i {
      color: $primary-color;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
//navbar
.container--header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.header__img {
  width: 150px;
  img {
    width: 100%;
  }
}
.header__nav {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    li {
      list-style: none;
    }
    a {
      font-size: 12px;
    }
  }
}
