.header {
  width: 100%;
  &__info {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
  // contacts
  .contacts {
    background-color: $light-gray;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      color: $gray-color;
    }
    i {
      color: $primary-color;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
//navbar
.container--header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.header__img {
  width: 150px;
  img {
    width: 100%;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    li {
      list-style: none;
    }
    a {
      font-size: 12px;
    }
  }
}
.nav__toggle {
  display: none;
  flex-direction: column;
  background-color: transparent;
  border: none;
  gap: 5px;
  span {
    background-color: $primary-color;
    height: 3.9px;
    width: 28px;
    display: block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
@media (max-width: 992px) {
  nav {
    position: absolute;
    left: 0;
    top: 100%;
  }
  .header__nav {
    width: 100%;
    max-width: 100%;
  }
  .nav__menu {
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    width: 100%;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 1.25rem;
  }
  .nav__menu.active {
    height: 200px;
    padding: 20px 0;
  }
  .nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
  }
  .nav__toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__toggle.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
  }
  .header {
    .contacts {
      .container {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
