.insurance {
  &__providers {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    // border: 1px solid $light-gray;
    &__img {
      padding: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-gray;
    }
  }
}
