.insurance {
  &__providers {
    margin-top: 30px;
    display: flex;
    border: 1px solid $light-gray;
    &__img {
      width: calc(100% / 6);
      padding: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img:nth-child(n + 2):not(:last-child) {
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
    }
  }
}
