.resources {
  background-color: $light-gray;

  &__cards {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    &__card {
      display: flex;
      flex-direction: column;
      background-color: $light-color;

      &:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      }

      &__img {
        img {
          width: 100%;
          cursor: pointer;
        }
      }

      &__info {
        padding: 20px;

        h4 {
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
        p {
          color: $gray-color;
          font-size: 14px;
          line-height: 2;
          margin-top: 8px;
        }
      }
    }
  }
}
