.card-icon {
  display: flex;
  gap: 25px;
  &__text {
    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      color: $primary-color;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
  p {
    color: $gray-color;
  }
}
