.container {
  width: 75%;
  margin: 0px auto;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

section {
  padding: 70px 0;
}
:root {
  scroll-behavior: smooth;
}
